<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns="http://www.springframework.org/schema/batch"
            xmlns:bean="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/batch 
http://www.springframework.org/schema/batch/spring-batch-3.0.xsd">

    <bean:import resource="spring-batch.xml"/>

    <!--job-repository 默认 jobRepository restartable 默认true  abstract默认false-->
    <!--<job id="fileBatchJob" job-repository="jobRepository" restartable="true" abstract="false" >
        <step id=""
    </job>-->



</bean:beans>