<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bestpay.batch.persistence.mapper.batch.FtpPOMapper" >
  <resultMap id="BaseResultMap" type="cn.com.bestpay.batch.persistence.model.FtpPO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="JOB_INSTANCE_ID" property="jobInstanceId" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="PORT" property="port" jdbcType="DECIMAL" />
    <result column="FILE_TYPE" property="fileType" jdbcType="CHAR" />
    <result column="FTP_TYPE" property="ftpType" jdbcType="CHAR" />
    <result column="FTP_MODE" property="ftpMode" jdbcType="CHAR" />
    <result column="LOCAL_PATH" property="localPath" jdbcType="VARCHAR" />
    <result column="SERVER_PATH" property="serverPath" jdbcType="VARCHAR" />
    <result column="FILE_RETURN_FLAG" property="fileReturnFlag" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_UID" property="createUid" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_UID" property="updateUid" jdbcType="VARCHAR" />
    <result column="CHECK_UID" property="checkUid" jdbcType="VARCHAR" />
    <result column="CHECK_TIME" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="ARCHIVE_UID" property="archiveUid" jdbcType="VARCHAR" />
    <result column="ARCHIVE_TIME" property="archiveTime" jdbcType="TIMESTAMP" />
    <result column="CHECK_FLAG" property="checkFlag" jdbcType="VARCHAR" />
    <result column="ARCHIVE_FLAG" property="archiveFlag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, JOB_INSTANCE_ID, USERNAME, PASSWORD, ADDRESS, PORT, FILE_TYPE, FTP_TYPE, FTP_MODE, 
    LOCAL_PATH, SERVER_PATH, FILE_RETURN_FLAG, CREATE_TIME, CREATE_UID, UPDATE_TIME, 
    UPDATE_UID, CHECK_UID, CHECK_TIME, ARCHIVE_UID, ARCHIVE_TIME, CHECK_FLAG, ARCHIVE_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BATCH_FTP
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BATCH_FTP
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.bestpay.batch.persistence.model.FtpPO" >
    insert into T_BATCH_FTP (ID, JOB_INSTANCE_ID, USERNAME, 
      PASSWORD, ADDRESS, PORT, 
      FILE_TYPE, FTP_TYPE, FTP_MODE, 
      LOCAL_PATH, SERVER_PATH, FILE_RETURN_FLAG, 
      CREATE_TIME, CREATE_UID, UPDATE_TIME, 
      UPDATE_UID, CHECK_UID, CHECK_TIME, 
      ARCHIVE_UID, ARCHIVE_TIME, CHECK_FLAG, 
      ARCHIVE_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{jobInstanceId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{port,jdbcType=DECIMAL}, 
      #{fileType,jdbcType=CHAR}, #{ftpType,jdbcType=CHAR}, #{ftpMode,jdbcType=CHAR}, 
      #{localPath,jdbcType=VARCHAR}, #{serverPath,jdbcType=VARCHAR}, #{fileReturnFlag,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUid,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUid,jdbcType=VARCHAR}, #{checkUid,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{archiveUid,jdbcType=VARCHAR}, #{archiveTime,jdbcType=TIMESTAMP}, #{checkFlag,jdbcType=VARCHAR}, 
      #{archiveFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.bestpay.batch.persistence.model.FtpPO" >
    insert into T_BATCH_FTP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="jobInstanceId != null" >
        JOB_INSTANCE_ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="port != null" >
        PORT,
      </if>
      <if test="fileType != null" >
        FILE_TYPE,
      </if>
      <if test="ftpType != null" >
        FTP_TYPE,
      </if>
      <if test="ftpMode != null" >
        FTP_MODE,
      </if>
      <if test="localPath != null" >
        LOCAL_PATH,
      </if>
      <if test="serverPath != null" >
        SERVER_PATH,
      </if>
      <if test="fileReturnFlag != null" >
        FILE_RETURN_FLAG,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUid != null" >
        CREATE_UID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateUid != null" >
        UPDATE_UID,
      </if>
      <if test="checkUid != null" >
        CHECK_UID,
      </if>
      <if test="checkTime != null" >
        CHECK_TIME,
      </if>
      <if test="archiveUid != null" >
        ARCHIVE_UID,
      </if>
      <if test="archiveTime != null" >
        ARCHIVE_TIME,
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG,
      </if>
      <if test="archiveFlag != null" >
        ARCHIVE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="jobInstanceId != null" >
        #{jobInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        #{port,jdbcType=DECIMAL},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=CHAR},
      </if>
      <if test="ftpType != null" >
        #{ftpType,jdbcType=CHAR},
      </if>
      <if test="ftpMode != null" >
        #{ftpMode,jdbcType=CHAR},
      </if>
      <if test="localPath != null" >
        #{localPath,jdbcType=VARCHAR},
      </if>
      <if test="serverPath != null" >
        #{serverPath,jdbcType=VARCHAR},
      </if>
      <if test="fileReturnFlag != null" >
        #{fileReturnFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null" >
        #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null" >
        #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="checkUid != null" >
        #{checkUid,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="archiveUid != null" >
        #{archiveUid,jdbcType=VARCHAR},
      </if>
      <if test="archiveTime != null" >
        #{archiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkFlag != null" >
        #{checkFlag,jdbcType=VARCHAR},
      </if>
      <if test="archiveFlag != null" >
        #{archiveFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.bestpay.batch.persistence.model.FtpPO" >
    update T_BATCH_FTP
    <set >
      <if test="jobInstanceId != null" >
        JOB_INSTANCE_ID = #{jobInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        PORT = #{port,jdbcType=DECIMAL},
      </if>
      <if test="fileType != null" >
        FILE_TYPE = #{fileType,jdbcType=CHAR},
      </if>
      <if test="ftpType != null" >
        FTP_TYPE = #{ftpType,jdbcType=CHAR},
      </if>
      <if test="ftpMode != null" >
        FTP_MODE = #{ftpMode,jdbcType=CHAR},
      </if>
      <if test="localPath != null" >
        LOCAL_PATH = #{localPath,jdbcType=VARCHAR},
      </if>
      <if test="serverPath != null" >
        SERVER_PATH = #{serverPath,jdbcType=VARCHAR},
      </if>
      <if test="fileReturnFlag != null" >
        FILE_RETURN_FLAG = #{fileReturnFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null" >
        CREATE_UID = #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null" >
        UPDATE_UID = #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="checkUid != null" >
        CHECK_UID = #{checkUid,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="archiveUid != null" >
        ARCHIVE_UID = #{archiveUid,jdbcType=VARCHAR},
      </if>
      <if test="archiveTime != null" >
        ARCHIVE_TIME = #{archiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG = #{checkFlag,jdbcType=VARCHAR},
      </if>
      <if test="archiveFlag != null" >
        ARCHIVE_FLAG = #{archiveFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.bestpay.batch.persistence.model.FtpPO" >
    update T_BATCH_FTP
    set JOB_INSTANCE_ID = #{jobInstanceId,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      PORT = #{port,jdbcType=DECIMAL},
      FILE_TYPE = #{fileType,jdbcType=CHAR},
      FTP_TYPE = #{ftpType,jdbcType=CHAR},
      FTP_MODE = #{ftpMode,jdbcType=CHAR},
      LOCAL_PATH = #{localPath,jdbcType=VARCHAR},
      SERVER_PATH = #{serverPath,jdbcType=VARCHAR},
      FILE_RETURN_FLAG = #{fileReturnFlag,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_UID = #{createUid,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_UID = #{updateUid,jdbcType=VARCHAR},
      CHECK_UID = #{checkUid,jdbcType=VARCHAR},
      CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},
      ARCHIVE_UID = #{archiveUid,jdbcType=VARCHAR},
      ARCHIVE_TIME = #{archiveTime,jdbcType=TIMESTAMP},
      CHECK_FLAG = #{checkFlag,jdbcType=VARCHAR},
      ARCHIVE_FLAG = #{archiveFlag,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>