<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bestpay.batch.persistence.mapper.batch.JobExecutionPOMapper">
  <resultMap id="BaseResultMap" type="cn.com.bestpay.batch.persistence.model.JobExecutionPO">
    <id     column="ID"                     jdbcType="VARCHAR"      property="id" />
    <result column="VERSION"                jdbcType="DECIMAL"      property="version" />
    <result column="JOB_INSTANCE_ID"        jdbcType="VARCHAR"      property="jobInstanceId" />
    <result column="CREATE_TIME"            jdbcType="TIMESTAMP"    property="createTime" />
    <result column="START_TIME"             jdbcType="TIMESTAMP"    property="startTime" />
    <result column="END_TIME"               jdbcType="TIMESTAMP"    property="endTime" />
    <result column="STATUS"                 jdbcType="VARCHAR"      property="status" />
    <result column="EXIT_CODE"              jdbcType="VARCHAR"      property="exitCode" />
    <result column="EXIT_MESSAGE"           jdbcType="VARCHAR"      property="exitMessage" />
    <result column="LAST_UPDATED"           jdbcType="TIMESTAMP"    property="lastUpdated" />
    <result column="JOB_CONFIG_LOCATION"    jdbcType="VARCHAR"      property="jobConfigurationLocation" />
  </resultMap>
  <sql id="Base_Column_List">
    ID,
    VERSION,      JOB_INSTANCE_ID,      CREATE_TIME,        START_TIME,       END_TIME,
    STATUS,       EXIT_CODE,            EXIT_MESSAGE,       LAST_UPDATED,     JOB_CONFIG_LOCATION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_BATCH_JOB_EXECUTION
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BATCH_JOB_EXECUTION
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.bestpay.batch.persistence.model.JobExecutionPO">
    insert into T_BATCH_JOB_EXECUTION (ID, VERSION, JOB_INSTANCE_ID, 
      CREATE_TIME, START_TIME, END_TIME, 
      STATUS, EXIT_CODE, EXIT_MESSAGE, 
      LAST_UPDATED, JOB_CONFIGURATION_LOCATION
      )
    values (#{id,jdbcType=VARCHAR}, #{version,jdbcType=DECIMAL}, #{jobInstanceId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{exitCode,jdbcType=VARCHAR}, #{exitMessage,jdbcType=VARCHAR}, 
      #{lastUpdated,jdbcType=TIMESTAMP}, #{jobConfigurationLocation,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.bestpay.batch.persistence.model.JobExecutionPO">
    insert into T_BATCH_JOB_EXECUTION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="jobInstanceId != null">
        JOB_INSTANCE_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="exitCode != null">
        EXIT_CODE,
      </if>
      <if test="exitMessage != null">
        EXIT_MESSAGE,
      </if>
      <if test="lastUpdated != null">
        LAST_UPDATED,
      </if>
      <if test="jobConfigurationLocation != null">
        JOB_CONFIGURATION_LOCATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="jobInstanceId != null">
        #{jobInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="exitCode != null">
        #{exitCode,jdbcType=VARCHAR},
      </if>
      <if test="exitMessage != null">
        #{exitMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null">
        #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="jobConfigurationLocation != null">
        #{jobConfigurationLocation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.bestpay.batch.persistence.model.JobExecutionPO">
    update T_BATCH_JOB_EXECUTION
    <set>
      <if test="version != null">
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="jobInstanceId != null">
        JOB_INSTANCE_ID = #{jobInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="exitCode != null">
        EXIT_CODE = #{exitCode,jdbcType=VARCHAR},
      </if>
      <if test="exitMessage != null">
        EXIT_MESSAGE = #{exitMessage,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdated != null">
        LAST_UPDATED = #{lastUpdated,jdbcType=TIMESTAMP},
      </if>
      <if test="jobConfigurationLocation != null">
        JOB_CONFIGURATION_LOCATION = #{jobConfigurationLocation,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.bestpay.batch.persistence.model.JobExecutionPO">
    update T_BATCH_JOB_EXECUTION
    set VERSION = #{version,jdbcType=DECIMAL},
      JOB_INSTANCE_ID = #{jobInstanceId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      EXIT_CODE = #{exitCode,jdbcType=VARCHAR},
      EXIT_MESSAGE = #{exitMessage,jdbcType=VARCHAR},
      LAST_UPDATED = #{lastUpdated,jdbcType=TIMESTAMP},
      JOB_CONFIGURATION_LOCATION = #{jobConfigurationLocation,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>