<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bestpay.batch.persistence.mapper.batch.JobExecutionContextPOMapper">
  <resultMap id="BaseResultMap" type="cn.com.bestpay.batch.persistence.model.JobExecutionContextPO">
    <id     column="ID"             jdbcType="VARCHAR" property="id" />
    <result column="SHORT_CONTEXT"  jdbcType="VARCHAR" property="shortContext" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.com.bestpay.batch.persistence.model.JobExecutionContextPO">
    <result column="LONG_CONTEXT" jdbcType="CLOB" property="longContext" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SHORT_CONTEXT
  </sql>
  <sql id="Blob_Column_List">
    LONG_CONTEXT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_BATCH_JOB_EXECUTION_CONTEXT
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="cn.com.bestpay.batch.persistence.model.JobExecutionContextPO">
    insert into T_BATCH_JOB_EXECUTION_CONTEXT (
    ID,
    SHORT_CONTEXT, LONG_CONTEXT
      )
    values (#{id,jdbcType=VARCHAR}, #{shortContext,jdbcType=VARCHAR}, #{longContext,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.bestpay.batch.persistence.model.JobExecutionContextPO">
    insert into T_BATCH_JOB_EXECUTION_CONTEXT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="shortContext != null">
        SHORT_CONTEXT,
      </if>
      <if test="longContext != null">
        LONG_CONTEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="shortContext != null">
        #{shortContext,jdbcType=VARCHAR},
      </if>
      <if test="longContext != null">
        #{longContext,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.bestpay.batch.persistence.model.JobExecutionContextPO">
    update T_BATCH_JOB_EXECUTION_CONTEXT
    <set>
      <if test="shortContext != null">
        SHORT_CONTEXT = #{shortContext,jdbcType=VARCHAR},
      </if>
      <if test="longContext != null">
        LONG_CONTEXT = #{longContext,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.com.bestpay.batch.persistence.model.JobExecutionContextPO">
    update T_BATCH_JOB_EXECUTION_CONTEXT
    set SHORT_CONTEXT = #{shortContext,jdbcType=VARCHAR},
      LONG_CONTEXT = #{longContext,jdbcType=CLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.bestpay.batch.persistence.model.JobExecutionContextPO">
    update T_BATCH_JOB_EXECUTION_CONTEXT
    set SHORT_CONTEXT = #{shortContext,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>