<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bestpay.batch.persistence.mapper.batch.StepExecutionContextPOMapper">
  <resultMap id="BaseResultMap" type="cn.com.bestpay.batch.persistence.model.StepExecutionContextPO">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SHORT_CONTEXT" jdbcType="VARCHAR" property="shortContext" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.com.bestpay.batch.persistence.model.StepExecutionContextPO">
    <result column="SERIALIZED_CONTEXT" jdbcType="CLOB" property="serializedContext" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SHORT_CONTEXT
  </sql>
  <sql id="Blob_Column_List">
    SERIALIZED_CONTEXT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_BATCH_STEP_EXECUTION_CONTEXT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_BATCH_STEP_EXECUTION_CONTEXT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.bestpay.batch.persistence.model.StepExecutionContextPO">
    insert into T_BATCH_STEP_EXECUTION_CONTEXT (ID, SHORT_CONTEXT, SERIALIZED_CONTEXT
      )
    values (#{id,jdbcType=VARCHAR}, #{shortContext,jdbcType=VARCHAR}, #{serializedContext,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.bestpay.batch.persistence.model.StepExecutionContextPO">
    insert into T_BATCH_STEP_EXECUTION_CONTEXT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="shortContext != null">
        SHORT_CONTEXT,
      </if>
      <if test="serializedContext != null">
        SERIALIZED_CONTEXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="shortContext != null">
        #{shortContext,jdbcType=VARCHAR},
      </if>
      <if test="serializedContext != null">
        #{serializedContext,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.bestpay.batch.persistence.model.StepExecutionContextPO">
    update T_BATCH_STEP_EXECUTION_CONTEXT
    <set>
      <if test="shortContext != null">
        SHORT_CONTEXT = #{shortContext,jdbcType=VARCHAR},
      </if>
      <if test="serializedContext != null">
        SERIALIZED_CONTEXT = #{serializedContext,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.com.bestpay.batch.persistence.model.StepExecutionContextPO">
    update T_BATCH_STEP_EXECUTION_CONTEXT
    set SHORT_CONTEXT = #{shortContext,jdbcType=VARCHAR},
      SERIALIZED_CONTEXT = #{serializedContext,jdbcType=CLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.bestpay.batch.persistence.model.StepExecutionContextPO">
    update T_BATCH_STEP_EXECUTION_CONTEXT
    set SHORT_CONTEXT = #{shortContext,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>